*{
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Questrial', sans-serif;
}
header {
    position: relative;
    font-size:x-large;
}
header img{
    margin-left: 150px;
}
#header__forResponsive{
    display: none;
}
header label img{
    display: none;
    width: 30px;
    height: 30px;
    margin: 10px;
}
.headerMenuNOResponsive{
    display: inline-block;
    position: absolute;
    width: 750px;
    margin: 35px 30px;
    right: 20px;
    top: 10px;
}
.header__menu{
    color: rgb(167, 169, 172);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}
.header__menu:hover{
    background-color: #FF5773;
    color: #fff;
    padding: 5px 20px;
    margin: 5px 10px;
    font-size: 20px;
}
.fa-search{
    color: #FF5773;
    padding: 10px;
    
}
.fa-search:hover{
    background-color: #FF5773;
    color: #fff;
    padding: 15px;
}
.header__ul__mobile{
    display: none;
    list-style: none;
}
header label{
    padding: 0px;
    margin: 0px;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5773;
    margin: 2px 120px;
    padding: 150px;
}
.main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
main h2{
    letter-spacing: 12px;
    word-spacing: 6px;
    color: #fff;
}
main p{
    color: #fff;
    word-spacing: 5px;
    text-align: center;
}
.main__viewOurWork{
    text-decoration: none;
    background-color: #fff;
    color: #FF5773;
    letter-spacing: 2px;
    word-spacing: 4px;
    padding: 10px 30px;
    margin: 20px;
}
.main__viewOurWork:hover{
    filter: brightness(0.90);
}


nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size:x-large;
}
#forResponsive{
    display: none;
}
#grid__forResponsive{
    display: none;
}
nav label img{
    display: none;
    width: 30px;
    height: 30px;
    margin: 10px;
}
.nav__menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 60px;
}
.nav__menu__Responsive{
    list-style: none;
    display: none;
}
li a{
    text-decoration: none;
    color: rgb(167, 169, 172);
    padding: 10px 30px;
    margin: 45px;
    
}
li a:hover{
    background-color: #FF5773;
    color: #fff;
    padding: 10px 30px;
}


section{
    padding: 50px 300px;
}
.section__gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    width: 95%;
    grid-gap: 10px;
}
.section__gridContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section__gridContainer img:hover{
    filter: contrast(150%);
    width: 120%;
    height: 120%;
}
.section__gridContainer img:nth-child(2){
    grid-row: 1/3;
    grid-column: 2/3;
}
.section__gridContainer img:nth-child(8){
    grid-row: 3/5;
}
.showMEMore{
    text-decoration: none;
    background-color:#FF5773;
    color: #FFf;
    position: absolute;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin: 10px 320px;
    padding: 10px 10px;
}
.showMEMore:hover{
    filter:brightness(0.70)
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer i{
    margin: 10px 15px;
}
footer p{
    word-spacing: 10px;
    margin-bottom: 30px;
}
footer p, i{
    color: rgb(167, 169, 172);
}


/*Versión Responsive*/
@media only screen and (max-width: 768px){
    header{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    .headerMenuNoResponsive{
        display: none;
    }
    header img{
        margin: 0px;
    }
    header label{
        display: flex;
        justify-content: start;
        padding: 0px 20px;
    }
    header label img{
        display: block;
    }
    .header__ul__mobile{
        position: absolute;
        margin: 0px;
        transition: all 0.5s;
    }
    .menu__li__mobile{
        width: 150px;
        padding: 2px 5px;
        background-color: #FF5773;
        margin: 2px;
        border-radius: 4px;
    }
    .menu__li__mobile a{
        color: #fff;
        font-size: 15px;
        margin: 2px;
        padding: 4px 15px;
    }
    #header__forResponsive:checked ~ .header__ul__mobile{
        display: block;
        margin: 0px;
        position: relative;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FF5773;
        border-radius: 10%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .main__container{
        display: flex;
        padding: 60px;
    }
    main h2{
        color: #fff;
        text-align:center;
    }
    main p{
        color: #fff;
        text-align:center;
    }
    .main__viewOurWork{
        text-decoration: none;
        background-color: #fff;
        color: #FF5773;
        text-align:center;
    }
    .main__viewOurWork:hover{
        filter: brightness(0.90);
    }
    nav{
        display: contents;
        align-content:flex-start;
    }
    .nav__menu{
        display: none;
    }
    nav label img{
        display:inline;
    }
    .nav__menu__Responsive{
        margin: 0px;
        padding: 0px;
    }
    nav li{
        background-color: #FF5773;
        margin: 2px;
        border-radius: 4px;
    }
    nav li a{
        color: #fff;
        font-size: 15px;
        margin: 2px;
        padding: 4px 15px;
    }
    #forResponsive:checked ~ .nav__menu__Responsive{
        display: block;
        margin: 0px;
        position: relative;
    }
    #grid__forResponsive:checked ~ .section__gridContainer{
        display: grid;
        margin: 0px;
        position: relative;
    }
    section{
        margin: 0px;
        padding: 15px 15px;
    }
    .section__gridContainer{
        display: none;
    }
    .showMEMore{
        display: none;
    }
    
}

